<h1 class="collapse">{{editable title "title"}}</h1>
<div>
{{editable description "description" "1"}}
</div>
<p>{{{selectableStatusTag text_status "status" status}}} service on {{Website.uri}}, assigned to {{{selectableStatusTag User.name "user_id" User.id}}}.<br> 
{{#cancelled}}Cancelled {{dateFormat .}}{{^}}Started {{dateFormat ../joined}}{{/cancelled}}</p>
