[submodule "cake"]
	path = cake
	url = http://github.com/cakephp/cakephp.git
[submodule "app/plugins/acls"]
	path = app/plugins/acls
	url = git://github.com/connrs/cakephp_acl_menu_component.git
[submodule "app/plugins/acl_menu"]
	path = app/plugins/acl_menu
	url = git://github.com/connrs/cakephp_acl_menu_component.git
[submodule "app/plugins/searchable"]
	path = app/plugins/searchable
	url = git://github.com/connrs/Searchable-Behaviour-for-CakePHP.git
[submodule "app/plugins/sma"]
	path = app/plugins/sma
	url = git://github.com/connrs/Sma.git
[submodule "app/webroot/js/libs/linen"]
	path = app/webroot/js/libs/linen
	url = git://github.com/connrs/linen.git
[submodule "app/webroot/js/jquery/libs/timepicker"]
	path = app/webroot/js/jquery/libs/timepicker
	url = git://github.com/trentrichardson/jQuery-Timepicker-Addon.git
[submodule "app/plugins/alkemann"]
	path = app/plugins/alkemann
	url = git://github.com/alkemann/CakePHP-Assets.git
[submodule "app/webroot/js/libs/gruft"]
	path = app/webroot/js/libs/gruft
	url = git://github.com/nikola/gruft.git
[submodule "app/webroot/js/libs/backbone"]
	path = app/webroot/js/libs/backbone
	url = git://github.com/documentcloud/backbone.git
[submodule "app/plugins/datasources"]
	path = app/plugins/datasources
	url = git://github.com/cakephp/datasources.git
[submodule "app/webroot/js/libs/cbb"]
	path = app/webroot/js/libs/cbb
	url = git://github.com/connrs/connrs-Backbone-Boilerplate.git
[submodule "app/webroot/js/libs/clsp"]
	path = app/webroot/js/libs/clsp
	url = git://github.com/connrs/clsp.git
[submodule "app/webroot/js/libs/autosave"]
	path = app/webroot/js/libs/autosave
	url = git://github.com/connrs/autosave.backbone.js.git
