[submodule "cake"]
	path = cake
	url = http://github.com/cakephp/cakephp.git
[submodule "app/plugins/acls"]
	path = app/plugins/acls
	url = git://github.com/connrs/cakephp_acl_menu_component.git
[submodule "app/plugins/acl_menu"]
	path = app/plugins/acl_menu
	url = git://github.com/connrs/cakephp_acl_menu_component.git
[submodule "app/plugins/searchable"]
	path = app/plugins/searchable
	url = git://github.com/connrs/Searchable-Behaviour-for-CakePHP.git
[submodule "app/plugins/minify"]
	path = app/plugins/minify
	url = git://github.com/connrs/minify.git
[submodule "app/webroot/js/libs/linen"]
	path = app/webroot/js/libs/linen
	url = git://github.com/connrs/linen.git
