<?php
$Route->connect('/', array('controller' => 'Facades', 'action' => 'index'));
$Route->connect('/articles/*', array('controller' => 'Articles','action' => 'view'));
$Route->connect('/categories', array('controller' => 'Categories','action' => 'index'));
$Route->connect('/categories/*', array('controller' => 'Categories','action' => 'view'));
if(defined('MOONLIGHT_ARTICLES_COMMENTS_ENABLED') && MOONLIGHT_ARTICLES_COMMENTS_ENABLED):
$Route->connect('/comments',array('controller'=>'Comments','action'=>'index'));
endif;
$Route->connect('/products/*', array('controller' => 'Products','action' => 'view'));
$Route->connect('/thumbs/*', array('controller'=>'Thumbs','action'=>'index'));
$Route->connect('/rss/:controller/', array('alt_content'=>'Rss','action'=>'index'));
$Route->connect('/rss/:controller/*', array('alt_content'=>'Rss','action'=>'view'));
$Route->connect('/contact', array('controller' => 'Contacts', 'action' => 'index'));
$Route->connect('/contact/:action', array('controller' => 'Contacts'));
$Route->connect('/archive/*', array('controller'=>'Sections','action'=>'archive','blog'));
$Route->connect('/*', array('controller' => 'Sections','action' => 'view'));
?>