<section class="note detail list">
<h1>Notes</h1>
<ul class="hook_menu">
<li><a href="/notes/add?data[Customer][id]={{#Customer}}{{id}}{{/Customer}}">Add Note</a></li>
</ul>
{{#Note}}
<article>
<h1>{{#User}}{{name}}{{/User}} ({{dateFormat created}})</h1>
{{#flaggable}}
<ul class="hook_menu">
{{#flagged}}
<li><a href="/notes/unflag/{{../id}}">Unflag</a></li>
{{/flagged}}
{{^flagged}}
<li><a href="/notes/flag/{{../id}}">Flag</a></li>
{{/flagged}}
</ul>
{{/flaggable}}
{{{txtlFlag flagged description}}}
</article>
{{/Note}}
</section>
