<?php
class DATABASE_CONFIG {
var $default = array(
	'driver' => 'mysqli',
	'connect' => 'mysql_connect',
	'host' => 'localhost',
	'login' => 'dux',
	'password' => 'xxxxxxxx',
	'database' => 'dux',
	'encoding' => 'UTF8',
	'prefix' => ''
);}
?>
