<h1>Invoice</h1>
<p>{{Customer.company_name}}</p>
{{{txtl Customer.address}}}
<div class="fwrap c2 p">
<div>
<section class="detail list">
<h1>Details</h1>
<p><b>Reference:</b> {{reference}}</p>
</section>
</div>
<div>
{ { > invoicesViewPayments } }
</div>
</div>
