<h1><a href="/invoices/view/{{id}}">{{#reference}}{{.}}{{^}}Invalid reference no.{{/reference}}</a></h1>
<p>{{{statusTag text_status}}} {{moneyFormat amount}}. Issued {{dateFormat created}} &amp; {{#date_invoice_paid}}Paid {{dateFormat .}}{{^}}Due {{dateFormat ../due_date}}{{/date_invoice_paid}}</p>
