<h1 class="collapse">{{editable name "name"}}</h1>
<div>
<p class="info">{{editable role "role"}}</p>
{{#address}}{{editable . "address" "1"}}{{/address}}
<p>
<b>Email:</b> {{{editable email "email"}}}<br>
<b>Telephone:</b> {{editable telephone "telephone"}}<br>
<b>Mobile:</b> {{editable mobile "mobile"}}<br>
<b>Fax:</b> {{editable fax "fax"}}</p>
</div>
