@media screen and (min-width:40em) {
section[role="search"] {
position: absolute;
top: 1.75em;
right: .5em;
line-height: 2;
padding: .5em 0;
vertical-align: middle;
}

#user_details {
padding: 0;
margin-bottom: 0
}

#user_details ul {
position: absolute;
top: .5em;
right: 1em;
line-height: 1;
}

#user_details li {
display: inline;
}

#user_details li:before {
content: ' | ';
}

#user_details li:first-child:before {
content: normal;
}
}
