@font-face {
	font-family: 'CartoGothicProBold';
	src: url('CartoGothicPro-Bold-webfont.eot');
	src: local('☺'), url('/type/CartoGothicPro-Bold-webfont.woff') format('woff'), url('/type/CartoGothicPro-Bold-webfont.ttf') format('truetype'), url('/type/CartoGothicPro-Bold-webfont.svg#webfont') format('svg');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'CartoGothicProBook';
	src: url('/type/CartoGothicPro-Book-webfont.eot');
	src: local('☺'), url('/type/CartoGothicPro-Book-webfont.woff') format('woff'), url('/type/CartoGothicPro-Book-webfont.ttf') format('truetype'), url('/type/CartoGothicPro-Book-webfont.svg#webfont') format('svg');
	font-weight: normal;
	font-style: normal;
}
