<h1 class="collapse"><span data-field="uri" contenteditable>{{uri}}</span></h1>
<div>
<table>
<col span="1">
<tr><th>FTP Server</th><td>{{editable ftp_host "ftp_host"}}</td></tr>
<tr><th>Username</th><td>{{editable ftp_username "ftp_username"}}</td></tr>
<tr><th>Password</th><td>{{editable ftp_password "ftp_password"}}</td></tr>
</table>
</div>
