{
	noVideoClip: { url: '/js/flowplayer/images/noclip.jpg', duration: 10 },
	showPlayListButtons: true,
	baseURL: '/',
	autoPlay: false,
	autoBuffering: true,
	bufferLength: 20,
	loop: false,
	showLoopButton: false,
	initialScale: 'fit',
	hideControls: false,
	splashImageFile: '/js/flowplayer/images/splash.jpg',
	scaleSplash: true
}

