<section class="note detail list">
<h1>Notes</h1>
<div class="filter_hooks">
<ul>
<li class="current"><a tabindex="0" data-param-field="you" data-param-val="1">You</a></li><li><a tabindex="0" data-param-field="you" data-param-val="0">Everyone</a></li>
</ul>
<ul>
<li class="current"><a tabindex="0" data-param-field="flagged" data-param-val="0">All</a></li><li><a tabindex="0" data-param-field="flagged" data-param-val="1">Flagged</a></li>
</ul>
</div>
</section>
