<section class="note summary_list">
<h1>Notes</h1>
<ul>
{{#your_notes}}<li><a href="/notes/you">Your Notes <span class="count">{{count}}</span></a></li>{{/your_notes}}
<li><a href="/notes/you/flagged">Your Flagged Notes </a></li>
{{#flagged}}<li><a href="/notes/flagged">All Flagged <span class="count">{{count}}</span></a></li>{{/flagged}}
{{#all}}<li><a href="/notes/">All Notes</a></li>{{/all}}
</ul>
</section>
