<section class="project mini list">
<h1>Customers</h1>
<div class="filter_hooks">
<ul>
<li class="current"><a tabindex="0" data-param-field="status" data-param-val="2" href="#active_projects">Active</a></li><li><a tabindex="0" data-param-field="status" data-param-val="0" href="#cancelled_projects">Cancelled</a></li><li><a tabindex="0" data-param-field="status" data-param-val="3" href="#completed_projects">Complete</a></li><li><a tabindex="0" data-param-field="status" data-param-val="1" href="#pending_projects">Pending</a></li>
</ul>
</div>
<div class="loading"></div>
</section>
