<section class="customer mini list">
<h1>Customers</h1>
<div class="filter_hooks">
<ul>
<li class="current"><a tabindex="0" data-param-field="status" data-param-val="2">Active</a></li><li><a tabindex="0" data-param-field="status" data-param-val="0">Cancelled</a></li><li><a tabindex="0" data-param-field="status" data-param-val="3">Complete</a></li><li><a tabindex="0" data-param-field="status" data-param-val="1">Pending</a></li>
</ul>
</div>
<div class="loading"></div>
</section>
