<h1>{{{statusTag text_status}}}
{{#Reseller}}
Customer of <a href="customers/view/{{id}}">{{company_name}}</a>:
{{^}}
Customer:
{{/Reseller}}
<span data-field="company_name" contenteditable>{{company_name}}</span>
</h1>
<div class="fwrap c2 p">
<div>
{{> customersViewDetails}}
{{> customersViewWebsites}}
{{> customersViewServices}}
{{> customersViewInvoices}}
{{> customersViewCustomers}}
</div>
<div>
{{> customersViewNotes}}
</div>
</div>
