<form id="indexForm" method="get" action="/customers/search" accept-charset="utf-8">
<label for="q">Search</label>
<input name="q" type="search" autosave="co.uk.searchfirst.dux" results="10" value="" id="q">
</form>
<div class="search list">
<h1>Search Results</h1>
</div>
